@import "tailwindcss";
@import "@nuxt/ui";
@import "@fontsource/geist-sans/index.css";
@import "@fontsource/geist-mono/index.css";

@theme static {
  --font-sans: 'Geist Sans', sans-serif;
  --font-mono: 'Geist Mono', monospace;
}

:root {
  --ui-radius: 0.25rem;
  --ui-primary: var(--ui-color-primary-950);
  --ui-text: var(--ui-color-neutral-950);
  --ui-bg-page: var(--ui-color-neutral-50);
}

.dark {
  --ui-primary: var(--ui-color-primary-100);
  --ui-text: var(--ui-color-neutral-50);
  --ui-bg-page: var(--ui-color-neutral-950);
}

body {
  background-color: var(--ui-bg-page);
}
